// Define variables for your color scheme

$gray: #0E0000;
$light-gray: #F4F4F4;

// couleurs personnalisées
$eggplant: #331d50;
// pour dégradé :
$gradient-one: #f62bc8;
$gradient-two: #817cff;
// pour les typos/headers:
$light-blue: #5bc9ff;
$neon-pink: #ff4dd3;
