// Specific CSS for your home-page
@import 'variables';

.home-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .home-main-card {
        div {
            display: flex;
            gap: 10px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .home-discover-or-rent-cta-conainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .home-our-latest-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .car-card {

            display: flex;
            flex-direction: column;
            gap: 10px;
            .car-card-details {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            img {
                width: 245px;
            }
        }
    }
}
