<footer class="footer">
    Cette démo a été faite <em>avec amour</em> par <a href="https://www.leslierds.dev">LeslieRds.dev</a> @ <a href="https://www.myikigai.fr">My Ikigaï Web Studio</a>
</footer>
