<main>
  <section>
    <div class="banner" style="background-image: url(https://res.cloudinary.com/ddt8brfwz/image/upload/v1712760039/tabea-schimpf-O7WzqmeYoqc-unsplash_bollnf.jpg);">
      <div class="container">
        <h1>En voiture Simone, C'est quoi?</h1>
        <p>C'est la location de voiture pour femmes, en toute confiance, à Paris</p>
        <%= link_to 'Découvrez les voitures', cars_path, class: 'btn btn-success'%>
      </div>
    </div>
  </section>
</main>
