@import 'variables';

.cartouche {
    background-color: $secondary-color;
    padding: 15px;
    border: 2px solid $eggplant;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
  img {
    border-radius: 15px !important;
  }
}

.cartouche-home {
  background-color: $secondary-color;
  padding: 15px;
  border: 2px solid $eggplant;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  align-items: center;
img {
  border-radius: 15px !important;
}
}
